#navigation{
  background-color: #000f54;
}
#navigation ul {
  margin: 0;
  padding: .5em;
}
#navigation ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 .5em;
}
#navigation ul li a{
  text-decoration: none;
  color: white;
}
